/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #222222;
}
.input-class{
    height: 30px;
    width: 250px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    padding: 0 10px;
    background: none;
    color: white;
}
.enter{
    width: 100px;
    height: 30px;
    font-size: 12px;
    background: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    margin-left: 10px;
}
.enter:hover{
    background:  whitesmoke;
    color: #222222;
    cursor: pointer;
}
.todo_item{
    position: absolute;
    cursor: move;
    min-width: 215px;
    color: black;
    padding: 1em;
    border-radius: 5px;
}
.delete{
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
}
.delete:hover{
    color: red;
    cursor: pointer; 
/* } */