.clothes-div{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.clothes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.clothes-next{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.top-div {
    width: 100%;
    margin-top: 50px;
    border: 1px solid #eee;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text-div:hover {
    border: 1px solid blue;
}

.text-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.deals-hot {
    margin: 0;
    padding: 0;
}

.buy-coat {
    width: 100%;
    height: 450px;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-around;
}

.buy-coat:hover {
    border: 1px solid blue;
}

.img-clothes {
    width: 400px;
    height: 400px;
    display: flex;
}

.small-div {
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.clothes-img-small1 {
    width: 60px;
    height: 60px;
    background-image: url(../../public/img/cloat.jpg);
    background-size: 100% 100%;
}

.clothes-img-small2 {
    width: 60px;
    height: 60px;
    background-image: url(../../public/img/cloat2.jpg);
    background-size: 100% 100%;
}

.clothes-img-small3 {
    width: 60px;
    height: 60px;
    background-image: url(../../public/img/cloat3.jpg);
    background-size: 100% 100%;
}

.clothes-img-small4 {
    width: 60px;
    height: 60px;
    background-image: url(../../public/img/cloat4.jpg);
    background-size: 100% 100%;
}
.clothes-next-img-small1 {
    width: 60px;
    height: 60px;
    background-image: url(../../public/img/1.jpg);
    background-size: 100% 100%;
}

.clothes-next-img-small2 {
    width: 60px;
    height: 60px;
    background-image: url(../../public/img/2.jpg);
    background-size: 100% 100%;
}

.clothes-next-img-small3 {
    width: 60px;
    height: 60px;
    background-image: url(../../public/img/3.jpg);
    background-size: 100% 100%;
}

.clothes-next-img-small4 {
    width: 60px;
    height: 60px;
    background-image: url(../../public/img/4.jpg);
    background-size: 100% 100%;
}

.name-product {
    color: black;
}

.big-div {
    margin-top: 35px;
    margin-left: 20px;
    height: 365px;
    width: 70%;
}
.big-div img{
    width: 100%;
    height: 100%;
}
.big-div-next {
    margin-top: 35px;
    margin-left: 20px;
    height: 365px;
    width: 70%;
}
.big-div-next img{
    width: 100%;
    height: 100%;
}


.dollar {
    color: black;
    font-size: 20px;
    font-weight: 900;
}

.stars-icon {
    display: flex;
    align-items: center;
}

.stars-img {
    display: flex;
    margin-right: 20px;
}

.stars-images {
    width: 20x;
    height: 15px;
}

.size {
    display: flex;
}

.size-txt {
    display: flex;
    align-items: center;
}

.text-size {
    font-size: 13px;
    margin: 0 40px 0 0;
    padding: 0;
}

.select-size {
    width: 300px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.num {
    width: 150px;
    height: 30px;
}

.minus-btn {
    width: 25px;
    height: 25px;
    color: gray;
    border-radius: 50%;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    left: 75px;
    top: 63px;
}

.plus-btn {
    width: 25px;
    height: 25px;
    color: gray;
    border-radius: 50%;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    left: 120px;
    top: 37px;
}

.add_cart {
    width: 100%;
    display: flex;
    margin-top: -30px;
}
.hr{
    margin: 0;
}
.add-cart {
    margin-left: 20px;
    margin-top: 59px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: #336699;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.facebook-ico {
    width: 30px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 50%;
}
.add-to-cart{
    font-size: 15px;
}

.top-best {
    width: 25%;
    border: 1px solid #eee;
    margin-top: 90px;
    margin-left: 50px;
}
.top-best:hover{
    border: 1px solid blue ;
}

.top-seller {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.seller-txt {
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.products-next {
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    animation-name: product-next;
    animation-duration: 4s;
}

.cooker {
    width: 150px;
    height: 100px;
    margin-top: 40px;
    background-image: url(../../public/img/coker.jpg);
    background-size: 100% 100%;
}

.weather {
    width: 150px;
    height: 100px;
    margin-top: 40px;
    background-image: url(../../public/img/weather.jpg);
    background-size: 100% 100%;
}

.cooker-price {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.kitchen {
    font-size: 13px;
    color: black;
}

.cooker-images {
    width: 20px;
    height: 20px;
}

.camera {
    width: 150px;
    height: 100px;
    margin-top: 40px;
    background-image: url(../../public/img/camera.jpg);
    background-size: 90% 100%;
}

.watch {
    width: 150px;
    height: 100px;
    margin-top: 40px;
    background-image: url(../../public/img/watch.jpg);
    background-size: 90% 100%;
}

.camera-price {
    width: 150px;
    height: 100px;

    margin-top: 40px;
}

.camera-text {
    font-size: 12px;
    color: black;
}

.wear {
    width: 150px;
    height: 100px;
    margin-top: 40px;
    background-image: url(../../public/img/wear.jpg);
    background-size: 100% 100%;
}

.washing {
    width: 150px;
    height: 100px;
    margin-top: 40px;
    background-image: url(../../public/img/washing.jpg);
    background-size: 90% 100%;
}

.wear-price {
    width: 150px;
    height: 100px;
    margin-top: 40px;
}

.discounts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dollar-underline {
    text-decoration: line-through;
    font-size: 17px;
}