.footer-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.footer-logo{
    width: 200px;
    height: 61px;
}
.number-call{
    font-size: 18px;
    color: black;
}
.footer-menu-text{
    font-size: 14px;
    color: black;
}
.img-social{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}
.img-social-icons{
    margin-left: 6px;
    width: 100%;
    height: 100%;
}
.company{
    font-size: 16px;
    color: black;
}
.footer-ul{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    list-style-type: none;
}
.footer-li{
    margin-top: 5px;
}
.footer-bottom{
    margin-top: 30px;
}
.about-having{
    font-size: 15px;
}
hr{
    margin-top: 40px;
    width: 100%;
}
.copyright{
    display: flex;
    justify-content: space-between;
}
.copyright-text{
    font-size: 15px;
    margin-right: 20px;
}
.payments{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 20px;
}
.maestro{
    width: 50px;
    height: 40px;
    background-image: url(../../public/img/maestro.png);
    background-size: 100% 100%;
}
.discover{
    width: 50px;
    height: 40px;
    background-image: url(../../public/img/discover.png);
    background-size: 100% 100%;
}
.visa{
    width: 50px;
    height: 40px;
    background-image: url(../../public/img/visa.png);
    background-size: 100% 100%;
}