body {
    margin: 0;
    overflow-x: hidden;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #666;
    background: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.header {
    font-family: Poppins, sans-serif;
    background: #fff;
    color: #333;
}

.header-top {
    background: #f5f6f8;
    font-size: 1.1rem;
    letter-spacing: -0.027em;
    text-transform: capitalize;
}

.header .container,
.header .container-fluid,
.header .inner-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
}

.welcome-msg {
    margin: 0;
    font-size: 11px;
    font-weight: inherit;
    letter-spacing: -0.022em;
    line-height: 1.5;
    white-space: nowrap;
    padding: 14px 0;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
    line-height: 1.86;
}

.container,
.container-fluid {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-top,
.header-middle,
.header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-top .header-right>.dropdown:first-child {
    margin-left: 0;
}

.header-top .header-right>* {
    margin-left: 2rem;
}

.header-left {
    width: 400px;
}

.header-top .header-right a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header a:not(.btn) {
    color: inherit;
}

.dropdown>a {
    line-height: 1.1;
    padding: 11px 0;
}


.dropdown-box {
    right: 0;
    padding: 0.5rem 0;
    color: #666;
    z-index: 1000;
}

.header-top .header-right .dropdown-box::before {
    content: "";
    position: absolute;
    z-index: 1002;
    left: 50%;
    top: -9999px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 11px solid transparent;
    border-bottom: 11px solid #fff;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}

.header-right {
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top .header-right a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* .....dropdown-box  */
.dropdown a .dropdown-image {
    max-width: 1.4rem;
    margin-right: 0.6rem;
    margin-top: -1px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
}

.chevron {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.dropdown {
    display: flex;
    align-items: center;
    text-align: center;
}

.dropdown-ul {
    width: 60px !important;
    height: 40px !important;
    text-align: center;
}

.usd {
    font-size: 12px !important;
    margin-top: -12px;
}

.eur {
    font-size: 12px !important;
    margin-top: -15px;
}

.valute {
    margin-top: 11px;
}

.dropdown-image {
    width: 14px;
    height: 8px;
}

@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    font-family: Arial;
    font-family: 'Muli', sans-serif;
}


.sl-nav {
    display: inline;
}

.sl-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
}

.sl-nav li {
    cursor: pointer;
    padding-bottom: 10px;
}

.sl-nav li ul {
    display: none;
}

.sl-nav li:hover ul {
    position: absolute;
    top: 29px;
    right: -15px;
    display: block;
    background: #fff;
    width: 120px;
    padding-top: 0px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li:hover .triangle {
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
}

.sl-nav li:hover .triangle:after {
    content: '';
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: #fff;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li ul li {
    position: relative;
    text-align: left;
    background: transparent;
    padding: 15px 15px;
    padding-bottom: 0;
    z-index: 2;
    font-size: 15px;
    color: #3c3c3c;
}

.sl-nav li ul li:last-of-type {
    padding-bottom: 15px;
}

.sl-nav li ul li span {
    padding-left: 5px;
}

.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
    color: #146c78;
}

.sl-flag {
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    width: 15px;
    height: 15px;
    background: #aaa;
    border-radius: 50%;
    position: relative;
    top: 2px;
    overflow: hidden;
}

.flag-de {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==');
    background-size: cover;
    background-position: center center;
}

.flag-usa {
    background-size: cover;
    background-position: center center;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=');
}

.country {
    display: inline;
}

.country ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
}

.england {
    font-size: 10px !important;
    margin-left: 5px;
    margin-top: -28px;
}

.france {
    font-size: 10px !important;
    margin-left: 5px;
    margin-top: -28px;
}

.eng-logo {
    width: 12px;
    height: 12px;
    margin-top: 25px;
    margin-left: -35px;
}

.fra-logo {
    width: 12px;
    height: 12px;
    margin-top: 7px;
    margin-left: -35px;
}


.country li {
    cursor: pointer;
    padding-bottom: 10px;
}

.country li ul {
    display: none;
}

.country li:hover ul {
    position: absolute;
    top: 29px;
    right: -15px;
    display: block;
    background: #fff;
    width: 120px;
    padding-top: 0px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.country-dropdown {
    width: 60px !important;
    height: 70px !important;
    text-align: center;
}

.country-ul {
    margin-top: 10px !important;
}

.country li:hover .country-dropdown {
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
}

.country li:hover .country-dropdown:after {
    content: '';
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: #fff;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.country li ul li {
    position: relative;
    text-align: left;
    background: transparent;
    padding: 15px 15px;
    padding-bottom: 0;
    z-index: 2;
    font-size: 15px;
    color: #3c3c3c;
}

.country li ul li:last-of-type {
    padding-bottom: 15px;
}

.country li ul li span {
    padding-left: 5px;
}

.country li ul li span:hover,
.country li ul li span.active {
    color: #146c78;
}

.flag-de {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==');
    background-size: cover;
    background-position: center center;
}

.flag-usa {
    background-size: cover;
    background-position: center center;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=');
}

.header-top .header-right .divider {
    width: 1px;
    height: 1.5rem;
    background-color: #ccc;
}

.d-lg-show {
    font-size: 12px;
    color: grey;
}

.sign-in {
    display: flex;
    justify-content: space-around;
}

.user-img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.header-middle {
    max-width: 1400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo-left {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 50px;
    width: 20%;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.search {
    width: 70%;
    height: 60px;
    border: 1px solid grey;
    display: flex;
}

select {
    width: 120px;
    height: 60px;
    border-left: none;
    border-bottom: none;
    border-top: none;
    text-align: center;
    color: grey;
}

.search-panel {
    width: 100%;
    border: none;
    outline: none;
}

.search-ico {
    display: flex;
    align-self: center;
    width: 25px;
    height: 25px;
}

.header-right {
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
}

.call {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.call-icon {
    margin-left: 100px;
    width: 20px;
    display: flex;
    align-items: center;
}

.call-img {
    width: 100%;
}

.call-number {
    font-size: 15px;
}

.icons {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid grey;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.heart-ico {
    width: 30px;
    height: 30px;
}

.heart-img {
    width: 100%;
    height: 100%;
}

.heart-name {
    margin-left: -8px;
    margin-top: -1px;
    font-size: 12px;
}

.balance-ico {
    width: 35px;
    height: 35px;
}

.balance-img {
    width: 100%;
    height: 100%;
}

.balance-name {
    margin-left: -8px;
    margin-top: 2px;
    font-size: 12px;
}

.cart-ico {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: color 500ms ease;
}

.cart-open {
    display: none;
    position: relative;
    top: 0;
    left: -169px;
    width: 500px;
    min-height: 200px;
    max-height: 3000px;
    background: green;
    z-index: 5;
}

.deleteCart {
    position:absolute;
    top:0;
    right: 0;
    width: 7px;
    height: 15px;
    outline: none;
    border: none;
    font-size: 12px;
}


.cart {
    font-size: 30px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.cart:hover,
.cart.active {
    color: #dc3d3d;
    transform: scale(1.5);
}

.fa-shopping-cart {
    width: 100%;
    height: 100%;
}


.cart-img {
    width: 100%;
    height: 100%;
}

.cart-name {
    margin-left: 1px;
    margin-top: 2px;
    font-size: 12px;
}

.header-bottom {
    height: 70px;
    background: #333333;
}

.header-bottom-left {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.category-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.category-text {
    margin-left: -80px !important;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: white;
}

.down-chevron {
    margin-right: 30px;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.inner-wrap {
    width: 100%;
}

.navigation {
    width: 65%;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    list-style-type: none;
    font-size: 15px;
}

.header-bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.track {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.track-img {
    width: 40px;
    height: 40px;
}

.track-txt {
    font-size: 15px;
    color: white;
}

.deals {
    display: flex;
    justify-content: center;
    align-items: center;
}