.our-blog-header,
.our-blog {
    color: black;
    font-size: 12px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.our-blog-header {
    margin-top: 50px;
}

.our-blog {
    display: flex;
    flex-direction: column;
}

.blog {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-blog-img {
    width: 300px;
    height: 200px;
    border: 1px soldi black;
    background-image: url(../../public/img/blog1.jpg);
    background-size: 100% 100%;
    background-position: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.first-blog-img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.second-blog-img {
    width: 300px;
    height: 200px;
    border: 1px soldi black;
    background-image: url(../../public/img/blog2.jpg);
    background-size: 100% 100%;
    background-position: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.second-blog-img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.third-blog-img {
    width: 300px;
    height: 200px;
    border: 1px soldi black;
    background-image: url(../../public/img/blog3.jpg);
    background-size: 100% 100%;
    background-position: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.third-blog-img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.last-blog-img {
    width: 300px;
    height: 200px;
    border: 1px soldi black;
    background-image: url(../../public/img/blog4.jpg);
    background-size: 100% 100%;
    background-position: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.last-blog-img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.first-blog,
.second-blog,
.third-blog,
.last-blog {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.read-more{
    color: #333;
    background-color: transparent;
    border-color: #333;  
    font-size: 15px;
    margin: 0;
    padding: 0;
    margin-left: 100px;
}
.blog-by{
    font-size: 15px;
    margin-left: 70px;
}
.blog-txt{
    margin-left: 60px;
    font-size: 15px;
}