.clients-header{
    color: black;
    font-size: 12px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1400px;
}
.clients {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.sterling{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/sterling.png);
    background-size: 100% 100%;
}
.ns{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/ns.png);
    background-size: 100% 100%;
}
.galaxy{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/galaxy.png);
    background-size: 100% 100%;
}
.skysuite{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/skysuite.png);
    background-size: 100% 100%;
}
.red{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/red.png);
    background-size: 100% 100%;
}
.rightchek{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/rightchek.png);
    background-size: 100% 100%;
}
.greengrass{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/greengrass.png);
    background-size: 100% 100%;
}
.kinova{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/kinova.png);
    background-size: 100% 100%;
}
.sass{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/sass.png);
    background-size: 100% 100%;
}
.elegant{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/elegant.png);
    background-size: 100% 100%;
}
.node{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/node.png);
    background-size: 100% 100%;
}
.skillstar{
    width: 230px;
    height: 100px;
    border: 1px solid #eee;
    background-image: url(../../public/img/skillstar.png);
    background-size: 100% 100%;
}