.recent{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 1400px;
}
.recent-header{
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 0;
    margin-left: 40px;
}
.recent-products{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recent-bag{
    width: 150px;
    height: 150px;
    background-image: url(../../public/img/bag.jpg);
    background-size: 100% 100%;
}
.recent-bag-hover{
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0.2;
    background-color: #333;
    text-align: center;
}
.hover-text{
    position: relative;
    top: 70px;
    color: white;
    font-size: 11px;
}
.recent-bag:hover .recent-bag-hover{
    display: block;
}
.recent-pan{
    width: 150px;
    height: 150px;
    background-image: url(../../public/img/pan.jpg);
    background-size: 100% 100%;
}
.recent-pan-hover{
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-color: #333;
    text-align: center;
}
.recent-pan:hover .recent-pan-hover{
    display: block;
}
.recent-roll{
    width: 150px;
    height: 150px;
    background-image: url(../../public/img/rolls.jpg);
    background-size: 100% 100%;
}
.recent-roll-hover{
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-color: #333;
    text-align: center;
}
.recent-roll:hover .recent-roll-hover{
    display: block;
}
.recent-tv{
    width: 150px;
    height: 150px;
    background-image: url(../../public/img/tv.jpg);
    background-size: 100% 100%;
}
.recent-tv-hover{
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-color: #333;
    text-align: center;
}
.recent-tv:hover .recent-tv-hover{
    display: block;
}
.recent-sofa{
    width: 150px;
    height: 150px;
    background-image: url(../../public/img/sofa.jpg);
    background-size: 100% 100%;
}
.recent-sofa-hover{
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-color: #333;
    text-align: center;
}
.recent-sofa:hover .recent-sofa-hover{
    display: block;
}
.recent-airpods{
    width: 150px;
    height: 150px;
    background-image: url(../../public/img/airpods.jpg);
    background-size: 100% 100%;
}
.recent-airpods-hover{
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-color: #333;
    text-align: center;
}
.recent-airpods:hover .recent-airpods-hover{
    display: block;
}

.recent-cooker{
    width: 150px;
    height: 150px;
    background-image: url(../../public/img/cooker.jpg);
    background-size: 100% 100%;
}
.recent-cooker-hover{
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-color: #333;
    text-align: center;
}
.recent-cooker:hover .recent-cooker-hover{
    display: block;
}
.recent-lamp{
    width: 150px;
    height: 150px;
    background-image: url(../../public/img/lamp.jpg);
    background-size: 100% 100%;
}
.recent-lamp-hover{
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-color: #333;
    text-align: center;
}
.recent-lamp:hover .recent-lamp-hover{
    display: block;
}