.section{
    text-decoration: none;
    background-image: url(../../public/img/reebok.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 500px;
    opacity: 0.8;
}
.section-left{
    height: 99%;
}
.menu-ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    font-size: 17px;
    background: white;
    margin: 0%;
}
.menu-li{
    margin-top: 10px;
}
.shevron{
    width: 15px;
    height: 15px;
}
.main-container{
    height: 150px;
    width: 450px;
    display: flex;
    align-items: center;
}
.chevron-left{
    position: relative;
    top: 300px !important;
    left: 200px !important;
    display: none;
    color: black;
}
.section:hover .chevron-left{
    display: block;
}
.section:hover .chevron-right{
    display: block;
}
.chevron-right{
    position: relative;
    top: 300px !important;
    left: 200px !important;
    display: none;
    color: black;
}
.menu-img{
    width: 20px;
    height: 20px;
}