.panel{
    width: 100%;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.shipping-div{
    display: flex;
}
.free-shipping{
    margin-top: 20px !important;
    margin-left: 20px !important;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.for-orders{
    margin-left: 20px !important;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.truck-img{
    width: 80px;
    height: 80px;
}
.container-2{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container-2,
.container-2-fluid {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.section_bottom{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}