.container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.departments {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrrivals {
    width: 150px;
    text-align: center;
    font-size: 13px;
    color: black;
    border: 2px solid #eee;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-left: 20px;
    margin-right: 20px;
}

.arrrivals:hover {
    border: 1px solid #336699;
    color: #336699;
}

.section-products {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.product {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-txt {
    color: black;
    font-size: 9px;
}

.price_product {
    color: black;
    font-size: 12px;
}

.product-img-towel {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/towel.jpg);
    background-size: 100% 100%;
}

.product-img-hairdye {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/hairdye.jpg);
    background-size: 100% 100%;
}

.product-img-transformer {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/transformer.jpg);
    background-size: 100% 100%;
}

.product-img-backpack {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/backpack.jpg);
    background-size: 100% 100%;
}

.product-img-handbag {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/handbag.jpg);
    background-size: 100% 100%;
}

.product-img-towel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-towel:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-cart-plus {
    background: white;
    font-size: 22px;
    border-radius: 10%;
    display: none;
    margin: 10px;
}

.product-img-hairdye {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-hairdye:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-transformer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-transformer:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-backpack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-backpack:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-handbag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-handbag:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-hat {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/hat.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-hat:hover {
    background-image: url(../../public/img/hat1.jpg);
}

.product-img-hat:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-iphone {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/iphone.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-iphone:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-mac {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/mac.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-mac:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-comforter {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/comforter.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-comforter:hover {
    background-image: url(../../public/img/comforter1.jpg);
}

.product-img-comforter:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-music {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/music.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.product-img-music:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-products{
    height: 300px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.products-show {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-products {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(../../public/img/left-product.jpg);
    background-size: 100% 100%;
}
.left-products-text{
    color: white;
    padding: 10px;
    margin-left: 15px;
    font-size: 16px;
}
.shop-now-left-txt{
    color: white;
    font-size: 15px;
    margin-left: 25px;
}
.shop-now-left-txt:hover{
    text-decoration: underline;
}
.right-products {
    width: 50%;
    height: 200px;
    background-image: url(../../public/img/right-product.jpg);
    background-size: 100% 100%;
}
.right-products-text{
    color: black;
    padding: 10px;
    margin-left: 15px;
    font-size: 16px;
}
.right-now-left-txt{
    color: black;
    font-size: 15px;
    margin-left: 25px;
}

.shop-now-right-txt{
    color: black;
    font-size: 15px;
    margin-left: 25px;
}
.shop-now-right-txt:hover{
    text-decoration: underline;
}