.shop-clothes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.store{
    width: 100%;
    height: 730px;
    width: 100%;
    display: flex;
}
.store-header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.store-left{
    width: 30%;
    background-image: url(../../public/img/back-bag.jpg);
    background-size: 100% 100%;
}

.store-right{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product-img-clothing {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/clothing.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-clothing:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-bag {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/bag.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-bag:hover{
    background-image: url(../../public/img/bag1.jpg);
}
.product-img-bag:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-rolls {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/rolls.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-rolls:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-jacket {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/jacket.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-jacket:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-jacket:hover{
    background-image: url(../../public/img/jacket1.jpg);
}
.product-img-travel {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/bag2.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-travel:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-travel:hover{
    background-image: url(../../public/img/bag3.jpg);
}
.product-img-shoes {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/shoes1.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-shoes:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-watch {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/watch.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-watch:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-left-camer{
    width: 30%;
    background-image: url(../../public/img/back-camer.jpg);
    background-size: 100% 100%;
}
.product-img-camera {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/camera.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-camera:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-camera:hover{
    background-image: url(../../public/img/camera3.jpg);
}
.product-img-wash {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/washing1.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-wash:hover{
    background-image: url(../../public/img/washing2.jpg);
}
.product-img-wash:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-tv {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/tv.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-tv:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-mac {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/mac.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-mac:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-watch {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/watch.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-watch:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-camer {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/camera1.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-camer:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-airpods {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/airpods.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-airpods:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-powershell {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/powershell.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-powershell:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.today-fashion{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 70px;
    background-image: url(../../public/img/background.jpg);
}
.fashion-shop{
    border: 2px solid white;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-right: 120px;
}
.shop-fashion{
    text-align: center;
    font-size: 14px;
    color: white;
}
.fashion-shop:hover{
    background: white;
}
.fashion-shop:hover .shop-fashion{
    color: black;
}
.shop-fashion:hover{
    color: black;
}
.store-left-utensil{
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(../../public/img/utensil.jpg);
    background-size: 100% 100%;
}
.fashion-shop-utensil{
    border: 2px solid black;
    width: 150px;
    height: 50px;
    margin-top: 100px;
}
.shop-fashion-utensil{
    text-align: center;
    font-size: 14px;
    color: black;
}
.product-img-sofa {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/sofa.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-sofa:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-table {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/table.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-table:hover{
    background-image: url(../../public/img/table2.jpg);
}
.product-img-table:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-lamp {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/lamp.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-lamp:hover{
    background-image: url(../../public/img/lamp1.jpg);
}
.product-img-lamp:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-chair {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/chair.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-chair:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-cooker {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/cooker.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-cooker:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-kitchen {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/kitchen.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-kitchen:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-pan {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/pan.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-pan:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img-crusher {
    width: 200px;
    height: 250px;
    background-image: url(../../public/img/crusher.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.product-img-crusher:hover{
    background-image: url(../../public/img/crusher1.jpg);
    background-size: 100% 100%;
}
.product-img-crusher:hover .fa-cart-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}
