.section-shop{
    height: 300px;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    margin-top: 100px !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.shop-text{
    font-size: 18px;
    color: black;
}
.shop-access{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fashion{
    width: 200px;
    height: 200px;
    background-image: url(../../public/img/fashion.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.fashion-txt{
    position: relative;
    top: 160px;
    left: 70px;
    font-size: 16px;
    color: black;
}
.shop-now{
    display: none;
    position: relative;
    left: 35px;
    height: 10px;
    font-size: 15px;
    color: #8EAFD2;
}
.fashion:hover .shop-now{
    display: block;
    top: 155px;
}
.fashion:hover .fashion{
    background-size: 120% 120% !important; 
}
.fashion:hover .fashion-txt{
    display: none;
}
.furniture{
    width: 200px;
    height: 200px;
    background-image: url(../../public/img/furniture.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.furniture:hover .shop-now{
    display: block;
    top: 155px;
}
.furniture:hover .fashion-txt{
    display: none;
}
.shoes{
    width: 200px;
    height: 200px;
    background-image: url(../../public/img/shoes.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.shoes:hover .shop-now{
    display: block;
    top: 155px;
}
.shoes:hover .fashion-txt{
    display: none;
}
.sports{
    width: 200px;
    height: 200px;
    background-image: url(../../public/img/sports.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.sports:hover .shop-now{
    display: block;
    top: 155px;
}
.sports:hover .fashion-txt{
    display: none;
}
.games{
    width: 200px;
    height: 200px;
    background-image: url(../../public/img/games.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.games:hover .shop-now{
    display: block;
    top: 155px;
}
.games:hover .fashion-txt{
    display: none;
}
.computers{
    width: 200px;
    height: 200px;
    background-image: url(../../public/img/computers.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.computers:hover .shop-now{
    display: block;
    top: 155px;
}
.computers:hover .fashion-txt{
    display: none;
}
.shop-now { 
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
  }
  .shop-now:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #8EAFD2;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .shop-now:hover:after { 
    width: 100px; 
    left: 20px; 
  }