.section-email{
    background: #336699;
    margin-top: 50px;
}
.subscribe{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-img{
    width: 50px;
    height: 50px;
}
.email-txt{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.email-text{
    font-size: 13px;
    color: white;
    margin: 0;
    padding: 0;
}
.email{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.email-input{
    width: 600px;
    height: 35px;
    outline: none;
}
.email-btn{
    width: 100px;
    height: 35px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
}