.wrapper{
    display:  flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #222222;
}
.todo_input{
    height: 30px;
    width: 250px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: none;
    color: white;
    padding: 0 10px;
    outline: none;
}
.todo_enter{
    width: 100px;
    height: 30px;
    font-size: 12px;
    background: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    margin-left: 10px;
}
.todo_enter:hover {
    background: whitesmoke;
    color: #222222;
    cursor: pointer;
}