.contact-us{
    height: 200px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 35px;
    font-weight: 900;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1400px;
}
.contact-container , .contact-container-fluid{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.contact-information{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-bio{
    font-size: 25px;
    color: black;
    font-weight: 900;
}
.contact-text{
    font-size: 18px;
}
.contact-info{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email1-img{
    width: 70px;
    height: 70px;
    background-image: url(../../public/img/1email.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 30px;
}
.phone-img{
    width: 70px;
    height: 70px;
    background-image: url(../../public/img/earphones.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 80px;
}
.address-img{
    width: 70px;
    height: 70px;
    background-image: url(../../public/img/pin.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 50px;
}
.fax-img{
    width: 70px;
    height: 70px;
    background-image: url(../../public/img/document.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 30px;
}
.mail-text{
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: 900;
}
.phone-txt{
    font-size: 15px;
    text-align: center;
}
.questions{
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.query{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.people-ask{
    margin: 0;
    font-size: 20px;
    color: black;
    font-weight: 900;
}
.ask{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.people-question{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background: #F5F5F5;
    height: 50px;
}
.ask-one{
    color: black;
    font-size: 18px;
    font-weight: 900;
}
.ask-one:hover{
    color: #8AC7F5;
    cursor: pointer;
}
.chevron-up{
    display: inline-block;
    font-size: 18px;
    transform: rotate(180deg);
    position: relative;
    left: 660px;
    top: 45px;
}
.answer-text{
    font-size: 17px;
    display: none;
}
.form-contact{
    width: 50%;
    margin-left: 20px;
    margin-top: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.form-control{
    height: 40px;
    outline: none;
    border: 1px solid #CCCCCC; 
}
textarea{
    outline: none;
    border: 1px solid #CCCCCC;
}
.label{
    font-size: 20px;
    color: black;
}
.send-email{
    width: 120px;
    height: 50px;
    outline: none;
    color: white;
    background: #222222;
    text-align: center;
    border-radius: 5%;
    margin-top: 20px;
}