.item{
    display: flex;
    align-items:  center;
    justify-content: center;
    user-select: none;
}
.item-1{
    background-color: red !important;
}
.item-2{
    background-color: blue;
}
.item-3{
    background-color: black;
}