.classic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    height: 200px;
    color: black;
    font-weight: 900;
    font-size: 38px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
}
.container,
.container-fluid {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.blog-hr{
    margin: 0;
    padding: 0;
}
.ul-menu{
    width: 100%;
}
.ul-menu ul{
    color: grey;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}
.ul-menu li{
    margin: 2px;
}
.section-blog{
    width: 100%;
    min-height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}
.blog-post{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.blog_background-image{
    width: 100%;
    height: 500px;
    background-image: url("../../public/img/man.jpg");
    background-size: 100% 100%;
}
.category-blog{
    font-size: 15px;
    color: #337EC4;
}
.blog-description{
    margin: 0;
    color: black;
    font-size: 21px;
}
.blog-text{
    font-size: 15px;
}
.blog-author{
    margin: 0;
    font-size: 15px;
}
.blog_background-image2{
    width: 100%;
    height: 500px;
    background-image: url("../../public/img/22.jpg");
    background-size: 100% 100%;
}
.blog_background-image3{
    width: 100%;
    height: 500px;
    background-image: url("../../public/img/33.jpg");
    background-size: 100% 100%;
}
.blog_background-image4{
    width: 100%;
    height: 500px;
    background-image: url("../../public/img/44.jpg");
    background-size: 100% 100%;
}
.blog_background-image5{
    width: 100%;
    height: 500px;
    background-image: url("../../public/img/5.jpg");
    background-size: 100% 100%;
}
.blog_background-image6{
    width: 100%;
    height: 500px;
    background-image: url("../../public/img/6.jpg");
    background-size: 100% 100%;
}
.aside-blog{
    width: 25%;
    height: 100%;
}
.blog-container{
    max-width: 1400px;
}
.blog-container , .blog-container.container-fluid{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.blog-search{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: 60px;
}
.blog-input{
    height: 65%;
    width: 85%;
    outline: none;
    border: 1px solid #CCCCCC;
}
.blog-search-ico{
    position: relative;
    right: 30px;
    top: 6px;
    font-size: 22px;
}
.ul-categories h1{
    font-size: 21px;
    color: black;
    margin-left: 8px;
}
.ul-categories li {
    margin: 10px;
}
.ul-categories{
    padding: 0;
    list-style-type: none;
    font-size: 17px;
}
.popular-posts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}
.posts-bio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-left{
    font-size: 14px;
    margin-left: 150px;
}
.btn-right{
    font-size: 14px;
}
.posts-image{
    width: 150px;
    height: 90px;
    background-image:  url("../../public/img/post1.jpg");
    background-size: 100% 100%;
}
.posts-image2{
    width: 150px;
    height: 90px;
    background-image:  url("../../public/img/post2.jpg");
    background-size: 100% 100%;
}
.posts-image3{
    width: 150px;
    height: 90px;
    background-image:  url("../../public/img/post3.jpg");
    background-size: 100% 100%;
}
.posts{
    display: flex;
    width: 300px;
}
.posts-data{
    font-size: 13px;
    margin: 0;
    margin-left: 10px;
    margin-bottom: -30px;
}
.posts-text{
    font-size: 13px;
    margin: 0;
    margin-left: 10px;
    color: black;
    font-weight: 900;
}
strong{
    color: black;
}
.post{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.popular{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}
.next-popular{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}
.next-posts-image{
    width: 150px;
    height: 90px;
    background-image:  url("../../public/img/post4.jpg");
    background-size: 100% 100%;
}
.next-posts-image2{
    width: 150px;
    height: 90px;
    background-image:  url("../../public/img/post5.jpg");
    background-size: 100% 100%;
}
.next-posts-image3{
    width: 150px;
    height: 90px;
    background-image:  url("../../public/img/post6.jpg");
    background-size: 100% 100%;
}
.custom-block{
    display: flex;
    flex-direction: column;
}
.custom-block-name{
    font-size: 17px;
    color: black;
    font-weight: 900;
}
.custom-block-description{
    font-size: 15px;
}
.browse{
    font-size: 18px;
    color: black;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 17px;
    padding: -10px;
    margin-bottom: 10px;
}
.blog-tags1{
    width: 65px;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}
.blog-tags2{
    width: 60px;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}
.blog-tags3{
    width: 60px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}
.blog-tags4{
    width: 70px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}
.blog-tags5{
    width: 45px;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}
.blog-tags6{
    width: 70px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}
.blog-tags7{
    width: 80px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}
.blog-tags8{
    width: 110px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}
.react-calendar{
    margin-top: 60px;
}